<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.smp.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/faces/jsfpages/Dashboard/*</url-pattern>
          <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/faces/jsfpages/Booking/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/faces/jsfpages/Broker/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/faces/jsfpages/Company/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/faces/jsfpages/Complaint/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/faces/jsfpages/Payment/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/faces/jsfpages/Project/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/faces/jsfpages/ProjectSetting/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/faces/jsfpages/Report/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/faces/jsfpages/User/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/faces/jsfpages/common/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PaymentReceipt</servlet-name>
        <servlet-class>com.smp.report.PaymentReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>com.smp.report.Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrokerPaymentReceipt</servlet-name>
        <servlet-class>com.smp.report.BrokerPaymentReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DueLetter</servlet-name>
        <servlet-class>com.smp.report.DueLetter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BulkReport</servlet-name>
        <servlet-class>com.smp.report.BulkReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentReceipt</servlet-name>
        <url-pattern>/paymentReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrokerPaymentReceipt</servlet-name>
        <url-pattern>/brokerPaymentReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DueLetter</servlet-name>
        <url-pattern>/DueLetter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BulkReport</servlet-name>
        <url-pattern>/BulkReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
